<template>
    <div class="card text-left my-2">
        <div class="card-body text-center row">

            <h5 class="col-10 filter-name">Processor Fabrikant:</h5>
            <span @click="toggleFilter()" class="col-2 btn btn-sm">
                <font-awesome-icon v-if="cpuFam.visible === true" :icon="['fa', 'chevron-up']" />
                <font-awesome-icon v-else :icon="['fa', 'chevron-down']" />
            </span>
            <hr>

            <transition name="fade" >

                <div v-if="cpuFam.visible === true" id="cpuFamFilter" class="col-12">
                    <hr>
                    <div class="container checkbox-options">
                        <el-checkbox-group v-model="cpuFam.checks" @change="updateFilters" size="mini" class="row">
                            <el-checkbox border v-for="cpuFam in filterChecks" :label="cpuFam.name_slug" :key="cpuFam.id"
                                class="col-12 col-sm-6 col-md-4 col-lg-12 col-xl-12 filter-check">
                                {{cpuFam.name}}
                            </el-checkbox>
                        </el-checkbox-group>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            'filter',
            'filterChecks'
        ],

        data(){
            return {
                cpuFam:[],
            }
        },

        created() {
            this.cpuFam = this.filter[0]
        },

        methods: {
            toggleFilter(filter){

                this.cpuFam.visible = !this.cpuFam.visible;
                this.$emit('updateFilter', this.cpuFam);
            },

            updateFilters(){
                this.$emit('updateParams');
            }
        },

    }
</script>
