<template>
    <a id="edit-page-btn" class="t-btn bg-yellow sdw-5" @click="goToPage">
        <font-awesome-icon :icon="['fa', 'edit']" />
    </a>
</template>

<script>
    export default {

        props: ['url'],

        methods: {
            goToPage: function(){
                let location = this.url;
                window.open(location, '_blank');
            }
        },
    }
</script>
<style scoped>
    #edit-page-btn{
        position: fixed;
        bottom: 50px;
        left: 20px;
        width: 40px;
        height: 40px;
        z-index: 999;
    }
</style>