<template>
    <div class="container">
        <h2 class="text-center text-light d-block mb-5">Nieuwste Artikelen</h2>
        <div class="row">

            <div class="col-md-4 py-1" v-for="article in articles" v-bind:key="article.id">
                <div class="card text-left">
                    <div class="img-wrap p-3">
                        <img class="card-img-top" src="storage/users/default.png" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ article.title }}</h4>
                        <p class="card-text">{{ article.intro }}</p>
                        <a @click="articlePage(article.title_slug)" class="t-btn s-sm d-bl standard">Bekijk dit artikel</a>
                    </div>
                </div>
            </div>
        </div>
        <a @click="allArticlesPage()" class="t-btn s-lg d-bl standard col-12 mt-2">Bekijk alle artikelen</a>
    </div>
</template>

<script>

    import axios from 'axios';
    const api = '/api/t4s/articles/newest';

    export default {

        data(){
            return {
                articles: [],
            }
        },

        created() {
            this.fetchArticles();
        },

        methods: {

            fetchArticles(){

                axios.post(api,{
                    params: {
                        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                })
                .then(res  => {

                    this.articles = res.data.data;
                    var articlesLength = this.articles.length;
                    var bannerPos = 6;

                    for (var i = 1; i < articlesLength; i++ ) {

                        if (i % bannerPos == 0) {

                            this.articles.splice(bannerPos, 0, "banner");
                        }
                    }
                });
            },

            articlePage(slug){
                location.href = `artikel/${slug}`;
            },

            allArticlesPage(){
                location.href = 'artikelen';
            },
        },
    }
</script>
