.banner-wide, .banner-wide-image{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.banner-wide-image{
    max-height:150px;
}

.banner-wide-link{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}