
.t-btn{

    @extend .btn;
    @extend .rounded-pill;

    &.s{
        &-sm{
            @extend .btn-sm;
        }
        &-lg{
            @extend .btn-lg;
        }
    }

    &.d{
        &-bl{
            @extend .btn-block;
        }
    }
        
    &.bg{
        &-yellow{

            border: 2px solid $theme-yellow;
            background-color: $theme-yellow;
            color: #000;
        
            &.hv{
                &-white{
                    &:hover{
                        text-decoration: none;
                        background-color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &.sdw{
        &-5{
            @include shadow(5);
        }
    }

    &.standard{
        @extend .bg-yellow;
        @extend .hv-white;
    }
}


#btt-button{
    position: fixed;
    bottom: 20px;
    right:20px;
    display: none;
    @include z-index-high;
}

#btf-button{
    position: fixed;
    bottom: 20px;
    right:20px;
    display: none;
    @include z-index-high;
}

#go-to-offers{
    position: fixed;
    bottom: 20px;
    right:20px;
    @include z-index-high;
}