.t{
    &-yellow{
        color: $theme-yellow;
    }
    &-purple{
        color: $theme-purple;
    } 
    &-bg{
        &-yellow{
            background-color: $theme-yellow;
        }  
        &-purple{
            background-color: $theme-purple;
        }  
    }
} 