
// Custom shadow
@mixin shadow($value) {
    -webkit-box-shadow: 0px 0px $value+px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px $value+px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px $value+px 0px rgba(0,0,0,0.75);
}

@mixin padding-top($value) {
    padding-top: $value+rem;
}
@mixin padding-right($value) {
    padding-right: $value+rem;
}
@mixin padding-bottom($value) {
    padding-bottom: $value+rem;
}
@mixin padding-left($value) {
    padding-left: $value+rem;
}


@mixin z-index-low{
    z-index: 1;
}

@mixin z-index-mid{
    z-index: 99999;
}

@mixin z-index-high{
    z-index: 99999;
}