nav{
    background-color: $theme-yellow;
    
    li.active, li:hover{
        
        background-color: black;
        border-radius: 30px;
        
        span{
            color: $theme-yellow;
            font-weight: 700;
        }
    }
}

.nav-image{
    height: 50px;
}

.logo-image{
    width: 50px;
}

.logo-text{
    width:200px;
    @include rwd-max(355){
        width:160px;
    }
}

.top-alert{
    background-color: $theme-yellow;
    margin-left:0;
    margin-right:0;
    width:100%;
    height:50px;
    text-align: center;
    vertical-align: middle;

    @include md-max{
        display: none!important;
    }
}

.top-alert-text{
    font-weight: bold;
    margin: auto;
}

.header{
    &-border-left { 
        @include lg-min{
            border-left: 1px solid rgba(0, 0, 0, 0.125);
        }
    }  
} 