.t-p{

    &b{

        &-md{
            &-t{
                @include md-max{
                    &-4{
                    
                        @include padding-bottom(4);
                    }
                }
            }
        }
    }
}