<template>
    <a id="btt-button" class="t-btn bg-yellow sdw-5" :href="btt.href" @once="execbtt" role="button">
        <font-awesome-icon :icon="['fa', 'arrow-up']" />
    </a>
</template>

<script>
    export default {

        props: [
            'scrollTrigger',
        ],

        data() {
            return {
                btt:{
                    href: "#",
                    executed: false,
                }
            }
        },

        mounted() {
            window.addEventListener('scroll', this.showbtt);
        },

        methods: {

            execbtt(e){

                e.preventDefault();
                if(this.btt.executed === false){
                    this.$set(this.btt, 'executed', true);
                }
            },

            showbtt(){
                const trigger = $(""+this.scrollTrigger+"");
                let triggerInView = this.elementInViewport(trigger);

                if(triggerInView === false){
                    this.$set(this.btt, 'href', this.scrollTrigger)
                    $("#btt-button").show("slow");
                } else {
                    this.$set(this.btt, 'href', "#")
                    this.$set(this.btt, 'executed', true)
                    $("#btt-button").hide("slow");
                }
            },

            elementInViewport(elem){

                var elementTop = elem.offset().top-60;
                var elementBottom = elementTop + elem.outerHeight();
                var viewportTop = $(window).scrollTop();
                var viewportBottom = viewportTop + $(window).height();
                return elementBottom > viewportTop && elementTop < viewportBottom;
            },
        },
    }
</script>