
<template>
    <button @click="redirectPage()" :class="css">
        {{ buttonText }}<i class="fas fa-arrow-circle-right"></i>
    </button>
</template>

<script>
    export default {

        props: [
            'css',
            'url',
            'buttonText',
        ],

        methods: {

            redirectPage(){

                let shopUrl = encodeURIComponent(this.url);
                let location = `/redirect/shop?redirect=${shopUrl}`;
                window.location.href = location;
            },
        },

    }
</script>
