<template>
    <a id="go-to-offers" class="t-btn bg-yellow sdw-5" :href="btf.href" @once="execBtf" role="button">
        <font-awesome-icon :icon="['fa', 'laptop']" />
    </a>
</template>

<script>
    export default {

        data() {
            return {
                btf:{
                    href: "#",
                    executed: false,
                }
            }
        },

        mounted() {
            window.addEventListener('scroll', this.showBtf);
        },

        methods: {

            execBtf(e){

                e.preventDefault();
                if(this.btf.executed === false){
                    this.$set(this.btf, 'executed', true)
                }
            },

            showBtf(){
                var filters = $("#laptop-offers");
                let filtersInView = this.elementInViewport(filters);

                if(filtersInView === false){
                    this.$set(this.btf, 'href', "#laptop-offers")
                    $("#go-to-offers").show("slow");
                } else {
                    this.$set(this.btf, 'href', "#")
                    this.$set(this.btf, 'executed', true)
                    $("#go-to-offers").hide("slow");
                }
            },

            elementInViewport(elem){

                var elementTop = elem.offset().top;
                var elementBottom = elementTop + elem.outerHeight();
                var viewportTop = $(window).scrollTop();
                var viewportBottom = viewportTop + $(window).height();
                return elementBottom > viewportTop && elementTop < viewportBottom;
            },
        },
    }
</script>
