<template>
    <div class="ribbon-wrapper">
        <div class="ribbon blue">
            {{ percentage }} %
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            'vanprijs',
            'voorprijs',
        ],

        data() {
            return {
                percentage: '',
            }
        },

        created() {
            this.calcOffer();
        },

        methods: {

            calcOffer(){

                const vanprijs = Number(this.vanprijs);
                const voorprijs = Number(this.voorprijs);

                const offer = Math.round((vanprijs - voorprijs) / this.vanprijs * 100);
                this.percentage = offer;
            }
        },
    }
</script>
