<template>
    <div class="webshops">

        <div class="card my-2 p-4">
            <h3 class="text-center">Zoek een Webwinkel:</h3>
            <input type="search" v-model="search" placeholder="Zoek webwinkels op naam.." class="product-search">
        </div>

        <div class="row">

            <div class="col-md-4"  v-for="shop in filteredWebshops" v-bind:key="shop.id">
                <figure class="card card-product">
                    <div class="img-wrap"><img :src="'storage/' + shop.image"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title card-title">{{ shop.name }}</h4>
                        <p class="desc">{{ shop.description }}</p>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Aantal producten:</td>
                                    <td>{{ shop.products_count }}</td>
                                </tr>
                                <tr>
                                    <td>In de aanbieding:</td>
                                    <td>{{ shop.offers_count }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a @click="shopPage(shop.name_slug)" class="btn btn-block btn-primary float-right">Bekijk deze winkel</a>
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
        </div>
    </div>
</template>

<script>

    const api = '/api/t4s/webshops';
    export default {

        data(){
            return {
                webshops: [],
                search: '',
            }
        },

        created() {
            this.fetchWebshops();
        },

        methods: {
            fetchWebshops(){
                axios.post(api,{
                    params:{
                        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    }
                })
                .then(({ data }) => {
                    this.webshops = data.data;
                });
            },

            shopPage(slug){
                location.href = 'webshop/' + slug;
            },
        },

        computed: {
            filteredWebshops: function(){
                return this.webshops.filter((webshop) =>{

                    let webshop_name = webshop.name.toLowerCase();
                    let search = this.search.toLowerCase();

                    return webshop_name.match(search);
                });
            }
        },
    }
</script>
