<template>
    <div class="row">

        <div class="col-lg-3">

            <div id="laptop-filters" class="card text-left my-2">

                <div class="card-body text-center">
                    <h4 class="card-title filter-name">
                        Filter Aanbiedingen
                    </h4>

                    <span @click="toggleFilter(filters)" class="col-2 btn btn-sm">
                        <font-awesome-icon v-if="filters.visible === true" :icon="['fa', 'chevron-up']" />
                        <font-awesome-icon v-else :icon="['fa', 'chevron-down']" />
                    </span>
                </div>
            </div>

            <div v-if="filters.visible === true">

                <shop-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.shop]" :filter-checks="[...fetchedFilters.shops]"></shop-filter>
                <brand-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.brand]" :filter-checks="[...fetchedFilters.brands]"></brand-filter>

                <div class="card text-left my-2">
                    <div class="card-body text-center row">

                        <h5 class="col-10 filter-name">Budget:</h5>
                        <span @click="toggleFilter(filters.price)" class="col-2 btn btn-sm">
                            <font-awesome-icon v-if="filters.price.visible === true" :icon="['fa', 'chevron-up']" />
                            <font-awesome-icon v-else :icon="['fa', 'chevron-down']" />
                        </span>
                        <hr>

                        <transition name="fade" >

                            <div v-if="filters.price.visible === true" id="priceFilter" class="col-12">
                                <hr>
                                <div class="row mt-2 text-center">

                                    <div class="col-12">
                                        <figure>
                                            <span class="d-block d-sm-inline">Minimum Prijs:</span>
                                            <el-input-number v-model="filters.price.value.min" @change="updateFilters" :step="filters.price.step" size="small"
                                            :min="filters.price.min" :max="filters.price.value.max"></el-input-number>
                                        </figure>
                                    </div>

                                    <div class="col-12">
                                        <figure>
                                            <span class="d-block d-sm-inline">Maximum Prijs:</span>
                                            <el-input-number v-model="filters.price.value.max" @change="updateFilters" :step="filters.price.step" size="small"
                                            :min="filters.price.value.min" :max="filters.price.max"></el-input-number>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>

                <system-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.system]" :filter-checks="[...fetchedFilters.systems]"></system-filter>
                <cpuFam-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.cpuFam]" :filter-checks="[...fetchedFilters.cpuFams]"></cpuFam-filter>
                <cpuModel-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.cpuModel]" :filter-checks="[...fetchedFilters.cpuModels]"></cpuModel-filter>
                <cpuGhz-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.cpuGhz]" :filter-checks="[...fetchedFilters.cpuFreqs]"></cpuGhz-filter>
                <gpuFam-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.gpuFam]" :filter-checks="[...fetchedFilters.gpuFams]"></gpuFam-filter>
                <gpuModel-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.gpuModel]" :filter-checks="[...fetchedFilters.gpuModels]"></gpuModel-filter>
                <ram-filter @updateParams="updateFilters" @updateFilter="updateCheckboxFilter($event)" :filter="[...filters.ram]" :filter-checks="[...fetchedFilters.rams]"></ram-filter>
            </div>
        </div>

        <div id="laptop-offers" class="col-lg-9">

            <div class="card my-2 p-4">
                <h3 class="text-center">Zoek een Laptop:</h3>
                <input type="search" v-model="searchProduct" placeholder="Zoek laptops op naam.." class="product-search" @input="isTyping = true">
            </div>

            <div class="row producten">
                <div :class="(product == 'banner') ? 'col-12 text-center' : 'col-xl-4'"
                v-for="(product, index) in fetchedProducts" :key="index" data-aos="fade-up">

                    <div v-if="product == 'banner'" class="banner-wide pb-4 col-md-12" >
                        <a class="banner-wide-link" href="https://www.bol.com/nl/m/sale-solden/?promo=Head_907_Mnav_1_CRS_salesolden20_5" target="_blank">
                            <img class="banner-wide-image img-fluid" src="https://s.s-bol.com/nl/upload/imaproducts/campagne/2020/sale-solden-januari/30558_SALE_mhp-header.jpg" alt="banner">
                        </a>
                    </div>

                    <figure v-else class="card card-product" :key="product.name">

                        <div class="img-wrap p-3"><img :src="product.image"></div>
                        <figcaption class="info-wrap">
                            <h4 class="title card-title">{{ product.name }}</h4>
                            <p class="desc">{{ product.description }}</p>
                        </figcaption>
                        <div class="bottom-wrap">
                            <div class="price-wrap h5">
                                <div class="row text-center">

                                    <div class="col-12">
                                        <span>
                                            Vanaf: <h3 class="d-inline">€ {{ priceOutput(product.min_price) }}<span v-if="product.min_price % 1 === 0">,-</span></h3>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <a @click="productPage(product.name_slug)" class="t-btn s-sm d-bl standard">Bekijk deze laptop</a>
                        </div>
                    </figure>
                </div> <!-- col // -->

                <infinite-loading :identifier="infiniteId" @infinite="infiniteHandler" class="col-12">
                    <span slot="no-more">
                        Alle laptops zijn geladen ✅
                    </span>
                    <span slot="no-results">
                        Geen laptops gevonden voor deze zoekopdracht
                    </span>
                    <span slot="error">
                        Er heeft zich een fout voor gedaan bij het laden van de producten
                        <button @click="infiniteHandler" class="btn btn-sm">Probeer het opnieuw</button>
                    </span>
                </infinite-loading>
            </div>
        </div>
    </div>
</template>

<script>

    import axios from 'axios';
    import InfiniteLoading from 'vue-infinite-loading';
    Vue.use(InfiniteLoading);

    import AOS from 'aos';
    import 'aos/dist/aos.css';
    AOS.init();

    var qs = require('qs');
    const api = '/api/t4s/products';

    export default {

        data(){
            return {
                offset: 0,
                infiniteId: +new Date(),
                fetchedProducts: [],
                fetchedFilters:{
                    shops: [],
                    brands: [],
                    prices: [],
                    systems: [],
                    cpuFams: [],
                    cpuModels: [],
                    cpuFreqs: [],
                    rams: [],
                },
                isTyping: false,
                searchProduct: '',
                filters:{
                    visible: true,
                    shop:{
                        name: 'shop',
                        checks: [],
                        visible: false
                    },
                    brand:{
                        name: 'brand',
                        checks: [],
                        visible: false
                    },
                    price:{
                        name: 'price',
                        min: 0,
                        max: 5000,
                        step: 50,
                        value: {
                            min: 150,
                            max: 5000
                        },
                        visible: false
                    },
                    system:{
                        name: 'system',
                        checks: [],
                        visible: false
                    },
                    cpuFam:{
                        name: 'cpuFam',
                        checks: [],
                        visible: false
                    },
                    cpuModel:{
                        name: 'cpuModel',
                        checks: [],
                        visible: false
                    },
                    cpuGhz:{
                        name: 'cpuGhz',
                        checks: [],
                        visible: false
                    },
                    gpuFam:{
                        name: 'gpuFam',
                        checks: [],
                        visible: false
                    },
                    gpuModel:{
                        name: 'gpuModel',
                        checks: [],
                        visible: false
                    },
                    ram:{
                        name: 'ram',
                        checks: [],
                        visible: false
                    },
                },
            }
        },

        created() {
            this.fetchFilters();
        },

        methods: {

            infiniteHandler($state) {

                var data = new FormData();
                data.set('search', this.searchProduct);
                data.set('webshopChecks', this.arrayParam(this.filters.shop.checks));
                data.set('brandChecks', this.arrayParam(this.filters.brand.checks));
                data.set('systemChecks', this.arrayParam(this.filters.system.checks));
                data.set('cpuFamChecks', this.arrayParam(this.filters.cpuFam.checks));
                data.set('cpuModelChecks', this.arrayParam(this.filters.cpuModel.checks));
                data.set('cpuGhzChecks', this.arrayParam(this.filters.cpuGhz.checks));
                data.set('gpuFamChecks', this.arrayParam(this.filters.gpuFam.checks));
                data.set('gpuModelChecks', this.arrayParam(this.filters.gpuModel.checks));
                data.set('ramChecks', this.arrayParam(this.filters.ram.checks));
                data.set('minPrice', this.filters.price.value.min);
                data.set('maxPrice', this.filters.price.value.max);
                data.set('offset', this.offset);
                data.set('csrf', document.querySelector('meta[name="csrf-token"]').getAttribute('content'));

                axios.post(api, data)
                .then(({ data }) => {

                    let products = data.data;

                    if (products.length) {
                        this.offset += 24;
                        this.fetchedProducts.push(...this.bannerInserter(products));
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },

            arrayParam: function(arr){
                const param = (arr.length > 0) ? arr.toString() : null
                return param;
            },

            bannerInserter(arr){

                if(arr.length >= 24){
                    arr.push("banner");
                }
                return arr;
            },

            async fetchFilters(){
                const res = await fetch('/api/t4s/filters/products');
                const data = await res.json();

                this.fetchedFilters.shops = data.webshops;
                this.fetchedFilters.systems = data.systems;
                this.fetchedFilters.prices = data.min_max;
                this.fetchedFilters.brands = data.brands;
                this.fetchedFilters.cpuFams = data.cpu_fams;
                this.fetchedFilters.cpuModels = data.cpu_models;
                this.fetchedFilters.cpuFreqs = data.cpu_freqs;
                this.fetchedFilters.gpuFams = data.gpu_fams;
                this.fetchedFilters.gpuModels = data.gpu_models;
                this.fetchedFilters.rams = data.rams;
            },

            productPage(slug){
                let location = 'laptop/' + slug;
                window.open(location, '_blank');
            },

            updateFilters() {
                this.offset = 0;
                this.fetchedProducts = [];
                this.infiniteId += 1;
            },

            updateCheckboxFilter(filter){

                const filterName = `${filter.name}`;
                const filterChecks = filter.checks;
                const filterVisible = filter.visible;

                const filterBase = this.filters[filterName];
                filterBase.checks = filterChecks;
                filterBase.visible = filterVisible;
            },

            toggleFilter(filter){
                filter.visible = !filter.visible;
            },

            priceOutput(price){

                if(price % 1 !== 0){
                    price = (Math.round(price * 100) / 100).toFixed(2);
                }
                return price.toString().replace(".", ",");;
            }
        },

        watch: {

            searchProduct: _.debounce(function() {

                this.isTyping = false;
            }, 600),
            isTyping: function(value) {

                if (!value) {
                    this.updateFilters();
                }
            },
        },

        components: {
            InfiniteLoading,
        },
    }
</script>
