<template>
    <div class="container">
        <div class="row">
            <div v-bind:class="(offer == 'banner') ? 'col-12 text-center' : 'col-xl-4'" v-for="offer in offers" v-bind:key="offer.id">

                <div v-if="offer == 'banner'" class="banner-wide pb-4 col-12">
                    <a class="banner-wide-link" href="https://www.bol.com/nl/m/sale-solden/?promo=Head_907_Mnav_1_CRS_salesolden20_5" target="_blank">
                        <img class="banner-wide-image img-fluid" src="https://s.s-bol.com/nl/upload/images/pages/campagne/2020/sale-solden-januari/30558_SALE_mhp-header.jpg" alt="banner">
                    </a>
                </div>

                <figure v-else class="card card-product">

                    <percentage-ribbon :vanprijs="offer.vanprijs" :voorprijs="offer.voorprijs"></percentage-ribbon>

                    <div class="img-wrap p-3"><img :src="offer.productImage"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title card-title">{{ offer.productName }}</h4>
                        <p class="desc">{{ offer.description }}</p>
                    </figcaption>
                    <figcaption class="info-wrap">
                        <h4 class="title card-title text-center">{{ offer.webshopName }}</h4>
                    </figcaption>
                    <div class="bottom-wrap">
                        <div class="price-wrap h5">
                            <div class="row text-center">

                                <span class="col-6 price-old text-danger"><del><h5 class="font-weight-bold">€ {{ offer.vanprijs }}</h5></del></span>
                                <span class="col-6 price-new"><h3>€ {{ offer.voorprijs }}</h3></span>
                            </div>
                        </div>
                        <a @click="offerPage(offer.webshopNameSlug, offer.productNameSlug)" class="t-btn s-sm d-bl standard">Bekijk deze aanbieding</a>
                    </div>
                </figure>
            </div>
        </div>
        <a @click="allOffersPage()" class="t-btn s-lg d-bl standard sdw-5 col-12">Bekijk alle aanbiedingen</a>
    </div>
</template>

<script>

    import axios from 'axios';
    const api = '/api/t4s/offers/top';

    export default {

        data(){
            return {
                offers: [],
            }
        },

        created() {
            this.fetchOffers();
        },

        methods: {

            fetchOffers(){

                axios.post(api,{
                    params: {
                        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                    },
                })
                .then(res  => {

                    this.offers = res.data.data;
                    var offersLength = this.offers.length;
                    var bannerPos = 6;

                    for (var i = 1; i < offersLength; i++ ) {

                        if (i % bannerPos == 0) {

                            this.offers.splice(bannerPos, 0, "banner");
                        }
                    }
                });
            },

            offerPage(webshop, product){
                location.href = `webshop/${webshop}/aanbieding/${product}`;
            },

            allOffersPage(){
                location.href = 'aanbiedingen';
            },
        },
    }
</script>
